# Node.js (pour le frontend Angular)
node_modules/
dist/
*.log

# IntelliJ IDEA
.idea/
*.iml

# Autres fichiers/dossiers que tu veux ignorer
*.env
*.db

# Ignorer les fichiers de build générés dans le backend si nécessaire
target/
build/


# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
